*            text=auto
*.php        eol=lf
*.ts         eol=lf
*.tsx        eol=lf
*.js         eol=lf
*.json       eol=lf
*.html       eol=lf
*.less       eol=lf
*.css        eol=lf
.env         eol=lf
*.yml        eol=lf
*.xml        eol=lf
*.Dockerfile eol=lf

