.idea
.DS_Store
# //// hyperf ////
hyperf/.buildpath
hyperf/.settings/
hyperf/.project
hyperf/*.patch
hyperf/.idea/
hyperf/.git/
hyperf/runtime/
hyperf/test.php
hyperf/vendor/
hyperf/.phpintel/
hyperf/.env
hyperf/.DS_Store
hyperf/*.lock
hyperf/.phpunit*
!hyperf/public/uploads/2020-07-12/5f0ae653f1083.png
hyperf/public/uploads

.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

#mysql service
/mysql/data

# ///// admin //////
admin/.idea
admin/node_modules
admin/npm-debug.log*
admin/yarn-error.log
admin/yarn.lock
admin/package-lock.json
# production
admin/dist
# misc
admin/.DS_Store
# umi
admin/src/.umi
admin/src/.umi-production
admin/src/.umi-test
admin/.env.local

