.mainWrapper {
  padding: 0 24px 24px !important;
  .groupItemWrapper {
    :global(.ant-form-item-control-input-content) {
      display: flex;
      justify-content: space-between;
    }
  }
  .labelRender {
    font-weight: bold;
    font-size: 13px !important;
  }
}
.buttonRender {
}
