.col {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  justify-items: center;
  align-items: center;
  height: 60px;
  .input {
    max-height: 24px !important;
    border-radius: 4px;
  }
}
.listWrapper {
  margin-top: 10px;
}
