
.menuRender {
  width: 60px !important;
  li:not(.footerMenuRender) {
    max-width: 40px ;
    border-radius: 2px;
    padding: 0 9.5px 0 6px !important;
    margin-left: 10px !important;
    margin-top: 2px !important;
    margin-bottom: 2px !important;
    span{
      font-size: 28px !important;
    }
  }
}

.icon-render {
  height: 28px;
  width: 28px;
}

.footerMenuRender {
  position: absolute;
  bottom: 8px;
}


